name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Say hello
      run: |
        echo "Hello, World!"
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
         python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt
    - name: Install package and test
      run: |
         make install test clean
    - name: Upload to pypi
      run: |
        python3 setup.py sdist
	    twine upload --repository testpypi dist/* -u __token__ -p TEST_API
        with:
          TEST_API: ${{ secrets.TESTPYPIKEY }}
    strategy:
       matrix:
         python-version: [3.8]
